logs/*
!.gitkeep
node_modules/
yarn.lock
tmp
.DS_Store

## Directory-based project format:
.idea/

/dist/
stats.json
/statsgraph/

# built component library
/lib

# Generated component data
/config/componentData.js